html {
    overflow-y: auto;
}

#content, .result-box {
    max-width: 100%;
    overflow-x: auto;
}

img.candidate {
    width: 100%;
    width: 230px;
    height: 230px;
    object-fit: cover;
    display: block;
    margin: 0 auto 8px auto;
}

.nota-radio {
    margin-top: -15px;
}

.table.is-centered {
    margin: 0 auto;
}
.table.has-text-centered td {
    text-align: center;
}
.table.has-text-centered .text-left {
    text-align: left;
}

#ssod {
    width: 80vw;
    max-width: 300px;
}

.progress {
    width: 80vw;
    max-width: 300px;
    margin: 0 auto;
}

#create-vl-result {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: calc(100% - 70px);
    overflow: auto;
    display: none;
    z-index: 10;
}

.result-section-pl {
    display: none;
}

#time-div {
    position: fixed;
    top: 10px; right: 10px;
    padding: 10px;
    border-radius: 8px;
    font-family: monospace;
}
#time {
    color: white;
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }

    .hero-body {
        padding: 1rem 1.5rem;
    }

    .section {
        padding: 1.5rem 1.5rem;
    }

    .table td, .table th {
        padding-top: 2px;
        padding-bottom: 2px;
        font-size: 11pt;
    }

    .result-box {
        page-break-inside: avoid;
    }

    .hero-body {
        padding: 1rem 1.5rem;
    }

    .result-section {
        display: block;
        page-break-before: always;
    }

    .result-details {
        display: none;
    }
}
