img.candidate {
    width: 100%;
    width: 230px;
    height: 230px;
    object-fit: cover;
    display: block;
    margin: 0 auto 8px auto;
}

.nota-radio {
    margin-top: -15px;
}

.table.is-centered {
    margin: 0 auto;
}
