html {
    overflow-y: auto;
}

img.candidate {
    width: 100%;
    width: 230px;
    height: 230px;
    object-fit: cover;
    display: block;
    margin: 0 auto 8px auto;
}

.nota-radio {
    margin-top: -15px;
}

.table.is-centered {
    margin: 0 auto;
}

#ssod {
    width: 80vw;
    max-width: 300px;
}

.progress {
    width: 80vw;
    max-width: 300px;
    margin: 0 auto;
}

#create-vl-result {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: none;
}
