<!DOCTYPE html>
<html moznomarginboxes mozdisallowselectionprint>
    <head>
        <title>{% block title %}{% endblock %} | Elections | Gymkhana IITB </title>
        <base href="{{ baseUrl }}" />

        <link rel="stylesheet" href="css/bulma.min.css">
        <link rel="stylesheet" href="css/styles.css">
        <script src="js/script.js"></script>

        <meta charset="UTF-8">
        <meta name="description" content="Secure election portal for IIT Bombay">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Varun Patil">
        <meta name="theme-color" content="#3298dc">

        {% block head %} {% endblock %}
    </head>
    <body>

        <section id="top" class="hero is-info">
            <div class="hero-body">
                <div class="container">
                <h1 class="title">
                    <a href="" style="color: white">Elections</a>
                </h1>
                <h2 class="subtitle">
                    Gymkhana IIT Bombay
                </h2>
                </div>
            </div>
        </section>

        <div id="content">{% block content %}{% endblock %}</div>

        <footer class="footer no-print">
            <div class="content has-text-centered">
                <p>
                    {% if userRoll %}
                    <div class="subtitle is-6">
                        Logged in as {{ userRoll }}
                    </div>
                    {% endif %}

                    <a href="safe/admin">Admin Panel</a>
                    {% if userRoll %} &bull;
                    <a onclick="logoutElectron(event)" href="{{ logoutHome }}"> Logout </a>
                    {% endif %}
                    <br/>

                    &copy; Copyright {{ year }} &bull; <a href="https://gymkhana.iitb.ac.in" target="_blank">IIT Bombay</a>
                    &bull; <a href="https://github.com/pulsejet" target="_blank"> Varun Patil </a>

                </p>
            </div>
        </footer>
    </body>
</html>
