{% extends "base.html" %}

{% block title %}{{ election.getName() }}{% endblock %}

{% block content %}

{% set canEdit = (not election.getActive()) and (not election.getEnded()) %}

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <form class="box" method="POST">
                    <div class="field has-text-centered">
                        <h2 class="subtitle is-4">Election</h2>
                    </div>
                    {% include "form-election.html" %}
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="box ">
                    <div class="field has-text-centered">
                        <h2 class="subtitle is-4">Voters</h2>
                    </div>

                    <nav class="panel is-info is-shadowless">
                        {% for voterList in election.getVoterLists() %}
                        <a data-target="edit-voterlist-{{ voterList.getId() }}" class="panel-block modal-button">
                            <span class="panel-icon"> &#8962; </span>
                            {{ voterList.getName() }}
                        </a>
                        {% endfor %}
                    </nav>

                    <button data-target="create-voterlist" class="modal-button button is-danger is-outlined is-fullwidth">
                        Upload List
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                {% for post in election.getPosts() %}
                <div class="box ">
                    <div class="field has-text-centered">
                        <h2 class="subtitle is-4">{{ post.getName() }}</h2>
                    </div>

                    <nav class="panel is-info is-shadowless">
                        {% for candidate in post.getCandidates() %}
                        <a data-target="edit-candidate-{{ candidate.getId() }}" class="panel-block modal-button">
                            <span class="panel-icon"> &#10004; </span>
                            {{ candidate.getName() }}
                        </a>
                        {% endfor %}
                    </nav>

                    <div class="buttons">
                        {% if canEdit %}
                        <button data-target="create-candidate-{{ post.getId() }}" class="modal-button button is-success is-outlined is-fullwidth">
                            Add Candidate
                        </button>
                        {% endif %}
                        <button data-target="edit-post-{{ post.getId() }}" class="modal-button button is-link is-outlined is-fullwidth">
                            Edit Post
                        </button>
                    </div>
                </div>
                {% endfor %}

                {% if canEdit %}
                <div class="box ">
                    <button data-target="create-post" class="modal-button button is-link is-outlined is-fullwidth">
                        Create Post
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<!-------------------- POST -------------------->
<div class="modal" id="create-post">
    <div class="modal-background"></div>
    <div class="modal-content">
        <form class="box" method="POST">
            <div class="field has-text-centered">
                <h2 class="subtitle">Create Post</h2>
            </div>
            {% include "form-post.html" %}
        </form>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>

{% for post in election.getPosts() %}
    <div class="modal" id="edit-post-{{ post.getId() }}">
        <div class="modal-background"></div>
        <div class="modal-content">
            <form class="box" method="POST">
                <div class="field has-text-centered">
                    <h2 class="subtitle">Edit Post</h2>
                </div>
                {% include "form-post.html" %}
            </form>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <div class="modal" id="create-candidate-{{ post.getId() }}">
        <div class="modal-background"></div>
        <div class="modal-content">
            <form class="box" method="POST">
                <div class="field has-text-centered">
                    <h2 class="subtitle">Add Candidate</h2>
                </div>
                {% include "form-candidate.html" %}
            </form>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

    {% for candidate in post.getCandidates() %}
        <div class="modal" id="edit-candidate-{{ candidate.getId() }}">
            <div class="modal-background"></div>
            <div class="modal-content">
                <form class="box" method="POST">
                    <div class="field has-text-centered">
                        <h2 class="subtitle">Edit Candidate</h2>
                    </div>
                    {% include "form-candidate.html" %}
                </form>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
        </div>
    {% endfor %}
{% endfor %}

<!----------------------- Voter List ----------------------->
<div class="modal" id="create-voterlist">
    <div class="modal-background"></div>
    <div class="modal-content">
        <iframe class="box" id="create-vl-result" name="create-vl-result"></iframe>

        <form class="box" method="POST" target="create-vl-result"
              onsubmit="voterlistPost()" id="create-voterlist-form">

            <div class="field has-text-centered">
                <h2 class="subtitle">Upload Voter List</h2>
            </div>
            {% include "form-voterlist.html" %}
        </form>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>

{% for voterList in election.getVoterLists() %}
<div class="modal" id="edit-voterlist-{{ voterList.getId() }}">
    <div class="modal-background"></div>
    <div class="modal-content">
        <form class="box" method="POST">
            <div class="field has-text-centered">
                <h2 class="subtitle">Edit Voter List</h2>
            </div>
            {% include "form-voterlist.html" %}
        </form>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
{% endfor %}

{% endblock %}
