{% extends "base.html" %}

{% block title %}Admin{% endblock %}

{% block content %}

{% set canEdit = true %}

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="box ">
                    <div class="field has-text-centered">
                        <h2 class="subtitle is-4"> Commissioned by you </h2>
                    </div>
                    <nav class="panel is-info is-shadowless">
                        {% for election in elections %}
                        <a class="panel-block" href="safe/admin/{{ election.getId() }}">
                            {% if election.getSuspended() %}
                            <span class="panel-icon"> &#10006; </span>
                            {% elseif election.getActive() %}
                            <span class="panel-icon"> &#10070; </span>
                            {% elseif election.getEnded() %}
                            <span class="panel-icon"> &#10004; </span>
                            {% else %}
                            <span class="panel-icon"> &#10033; </span>
                            {% endif %}

                            {{ election.getName() }}
                        </a>
                        {% endfor %}
                        <div class="panel-block">
                            <a data-target="create-election" class="modal-button button is-link is-outlined is-fullwidth">
                                Create Election
                            </a>
                        </div>
                    </nav>

                    <nav class="pagination is-small is-rounded" role="navigation" aria-label="pagination">
                        <a class="pagination-previous" href="safe/admin?p={{ prev }}"
                            {% if prev is null %} disabled {% endif %}> Previous </a>
                        <a class="pagination-next" href="safe/admin?p={{ next }}"
                            {% if next is null %} disabled {% endif %}> Next page </a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal" id="create-election">
    <div class="modal-background"></div>
    <div class="modal-content">
        <form class="box" method="POST">
            <div class="field has-text-centered">
                <h2 class="subtitle">Create Election</h2>
            </div>
            {% include "form-election.html" %}
        </form>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>

{% endblock %}
