<div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input class="input" name="name" type="text" placeholder="e.g. Insitute General Elections" value="{{ election.getName() }}"
             required {% if not canEdit %} disabled {% endif %}>
    </div>
</div>

<div class="field">
  <label class="checkbox">
      <input type="checkbox" name="require_code"
        {{ election.getRequireCode() ? "checked" : "" }} {% if not canEdit %} disabled {% endif %}>
      Require voting key
  </label>
</div>

<input hidden name="class" value="election">

<div class="buttons">
{% if canEdit %}
<input type="submit" class="button is-link is-outlined is-fullwidth is-success" value="Submit" />
{% endif %}

{% if election %}
{% if canEdit %}
<input type="submit" class="button is-link is-outlined is-fullwidth is-info" name="start" value="Start Election" />
{% endif %}

{% if election.getActive() %}
<input type="submit" class="button is-link is-outlined is-fullwidth is-danger" name="end" value="End Election" />
{% endif %}

<a href="preview/{{ election.getId() }}" class="button is-link is-outlined is-fullwidth is-primary" target="_blank"> Preview </a>
{% endif %}
</div>
