<div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input class="input" name="name" type="text" placeholder="e.g. Insitute General Elections" value="{{ election.getName() }}"
             required {% if not canEdit %} disabled {% endif %}>
    </div>
</div>

<div class="field">
  <label class="checkbox">
      <input type="checkbox" name="require_code"
        {{ election.getRequireCode() ? "checked" : "" }} {% if not canEdit %} disabled {% endif %}>
      Require voting key
  </label>
</div>

{% if election %}
{% if election.getSuspended() %}
<div class="notification is-warning"> Suspended </div>
{% elseif election.getActive() %}
<div class="notification is-success"> Currently Active </div>
{% elseif election.getEnded() %}
<div class="notification is-danger"> Election Completed </div>
{% else %}
<div class="notification is-info"> Yet to start </div>
{% endif %}
{% endif %}


<input hidden name="class" value="election">

<div class="buttons">
{% if canEdit %}
<input type="submit" class="button is-link is-outlined is-fullwidth is-success" value="Submit" />
{% endif %}

{% if election %}
{% if canEdit %}
<input type="submit" class="button is-link is-outlined is-fullwidth is-info" name="start" value="Start Election" />
{% endif %}

{% if election.getActive() %}
{% if not election.getSuspended() %}
<input type="submit" class="button is-link is-outlined is-fullwidth is-warning" name="suspend" value="Suspend Election" />
{% else %}
<input type="submit" class="button is-link is-outlined is-fullwidth is-success" name="suspend" value="Resume Election" />
{% endif %}

<input type="submit" class="button is-link is-outlined is-fullwidth is-danger" name="end" value="End Election" />
{% endif %}

{% if election.getEnded() or superAdmin %}
<a href="safe/result/{{ election.getId() }}" class="button is-primary is-outlined is-fullwidth is-primary"> Results </a>
{% endif %}

<a href="safe/preview/{{ election.getId() }}" class="button is-link is-outlined is-fullwidth is-primary" target="_blank"> Preview </a>
{% endif %}
</div>
