<div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input class="input" name="name" type="text" placeholder="e.g. Insitute General Elections" value="{{ election.getName() }}" required>
    </div>
</div>

<input hidden name="class" value="election">

<div class="buttons">
<input type="submit" class="button is-link is-outlined is-fullwidth is-success" value="Submit" />

{% if election %}
<input type="submit" class="button is-link is-outlined is-fullwidth is-danger" name="delete" value="Delete" />
<a href="preview/{{ election.getId() }}" class="button is-link is-outlined is-fullwidth is-primary" target="_blank"> Preview </a>
{% endif %}
</div>
