{% set noaddvl = voterList is not null and (not canEdit) %}

<div class="field">
    <label class="label">Name</label>
    <div class="control">
        <input class="input" name="name" type="text" placeholder="Hostel 1" value="{{ voterList.getName() }}"
            {% if not voterList %} oninput="checkEVL(event)" {% endif %}
            {% if noaddvl %} disabled {% endif %} required>
    </div>

    {% if not voterList %}
    <p class="help" id="evl-hint">Use an existing name to add more voters</p>
    <script> var voterLists = JSON.parse('{{ allVoterListsJson | raw }}'); </script>
    <input hidden name="eid" id="evl-eid" value="">
    {% else %}
    <input hidden name="id" value="{{ voterList.getId() }}">
    {% endif %}
</div>

<div class="field">
    <label class="label">Booth IPs</label>
    <div class="control">
        <input class="input" name="booths" type="text" placeholder="10.105.177.1 10.105.177.5" value="{{ voterList.getBoothIPs() }}">
    </div>
</div>

<div class="field">
    <label class="checkbox">
        <input type="checkbox" name="require_code"
          {{ voterList.getRequireCode() ? "checked" : "" }}>
        Require voting key
    </label>
</div>

{% if not voterList %}
<div class="field">
    <label class="label">Roll Number List</label>
    <div class="control">
        <textarea class="textarea" placeholder="160010005 ..." name="voters" required></textarea>
    </div>
</div>
{% endif %}

<input hidden name="class" value="voterlist">

<div class="buttons">
    <button type="submit" class="button is-outlined is-fullwidth is-success"
        {% if not voterList %} id="vl-create-submit" {% endif %}> Submit </button>

    {% if voterList %}
    <a href="safe/voterlist/{{ voterList.getId() }}" class="button is-link is-outlined is-fullwidth is-primary"
       download="{{ voterList.getName() }}.csv"> Download </a>

    {% if canEdit %}
    <input type="submit" class="button is-link is-outlined is-fullwidth is-danger" name="delete" value="Delete" />
    {% endif %}
    {% endif %}
</div>
