{% extends "base.html" %}

{% block title %}Vote{% endblock %}

{% block content %}

<section class="section">
    <form class="container" method="POST">
        <div class="has-text-centered">
            <h2 class="title is-4">{{ election.getName() }}</h2>

            {% for post in election.getPosts() %}
            {% if post.canVote() %}
            <div class="box is-shadowless">
                <h2 class="subtitle is-5">{{ post.getName() }}</h2>
                <div class="columns is-centered">
                    {% for candidate in post.getCandidates() %}
                    <div class="column is-narrow has-text-centered">
                        <img class="candidate"
                             src="https://gymkhana.iitb.ac.in/profiles/internal/api/avatar/?q={{ candidate.getPhoto() }}" />
                        {{ candidate.getName() }}
                        {% if candidate.getManifesto() %}
                        <br />
                        <a href="{{ candidate.getManifesto() }}" target="_blank"> Manifesto </a>
                        {% endif %}

                        <br />

                        {% if post.isYNN() %}
                        <label class="radio">
                            <input type="radio" name="c-{{ candidate.getId() }}" required value="yes"> Yes
                        </label>
                        <label class="radio">
                            <input type="radio" name="c-{{ candidate.getId() }}" required value="no"> No
                        </label>
                        <br />
                        <label class="radio">
                            <input type="radio" name="c-{{ candidate.getId() }}" required value="neutral"> Neutral
                        </label>

                        {% else %}
                        <label class="radio">
                            <input type="radio" name="p-{{ post.getId() }}" required value="{{ candidate.getId() }}"> Yes
                        </label>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>

                <div class="is-centered nota-radio">
                {% if not post.isYNN() %}
                    <label class="radio">
                        <input type="radio" name="p-{{ post.getId() }}" required value="nota"> None of the above
                    </label>
                    <label class="radio">
                        <input type="radio" name="p-{{ post.getId() }}" required value="neutral"> Neutral
                    </label>
                {% endif %}
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>

        <input hidden name="id" value="{{ election.getId() }}">
        <div class="columns is-centered">
            <div class="column is-half">
                <input type="submit" class="button is-link is-outlined is-fullwidth is-success" value="Cast Vote" />
            </div>
        </div>
    <form>
</section>

{% endblock %}
