{% extends "base.html" %}

{% block title %}Vote{% endblock %}

{% block content %}

<section class="section">
    <form class="container" method="POST">
        <div class="has-text-centered">
            <h2 class="title is-4">{{ election.getName() }}</h2>

            {% for post in election.getPosts() %}
            {% if preview or post.canVote() %}
            <div class="box is-shadowless">
                <h2 class="subtitle is-5">{{ post.getName() }}</h2>
                <div class="columns is-centered">
                    {% for candidate in post.getCandidates() %}
                    <div class="column is-narrow has-text-centered">
                        <img class="candidate"
                            {% if "http" in candidate.getPhoto() %}
                            src="{{ candidate.getPhoto() }}"
                            {% else %}
                            src="https://gymkhana.iitb.ac.in/profiles/internal/api/avatar/?q={{ candidate.getPhoto() }}"
                            {% endif %}
                        />
                        {{ candidate.getName() }}
                        {% if candidate.getManifesto() %}
                        <br />
                        <a href="{{ candidate.getManifesto() }}" target="_blank"> Manifesto </a>
                        {% endif %}

                        <br />

                        {% if post.isYNN() %}
                        <label class="radio">
                            <input type="radio" name="c-{{ candidate.getId() }}" required value="yes"> Yes
                        </label>
                        <label class="radio">
                            <input type="radio" name="c-{{ candidate.getId() }}" required value="no"> No
                        </label>
                        <br />
                        <label class="radio">
                            <input type="radio" name="c-{{ candidate.getId() }}" required value="neutral"> Neutral
                        </label>

                        {% else %}
                        <label class="radio">
                            <input type="radio" name="p-{{ post.getId() }}" required value="{{ candidate.getId() }}"> Yes
                        </label>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>

                <div class="is-centered nota-radio">
                {% if not post.isYNN() %}
                    <label class="radio">
                        <input type="radio" name="p-{{ post.getId() }}" required value="nota"> None of the above
                    </label>
                    <label class="radio">
                        <input type="radio" name="p-{{ post.getId() }}" required value="neutral"> Neutral
                    </label>
                {% endif %}
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>

        <input hidden name="id" value="{{ election.getId() }}">
        <div class="columns is-centered">
            <div class="column is-half">
                <input type="submit" class="button is-link is-outlined is-fullwidth is-success" value="Cast Vote" />
            </div>
        </div>
    <form>
</section>

<div id="time-div" class="has-background-danger is-large">
    <h1 class="title" id="time">Title</h1>
</div>
<script>
    var timeCount = Number('{{ election.getTime() | default(0) }}');

    function setupTimeCount() {
        const timeElem = document.getElementById('time');
        if (!timeCount) {
            document.getElementById('time-div').style.display = 'none';
            return;
        }

        timeElem.innerHTML = timeCount;

        const timeInterval = setInterval(() => {
            timeCount -= 1;
            timeElem.innerHTML = timeCount;
            if (timeCount <= 0) {
                clearInterval(timeInterval);
                if (!logoutElectron()) {
                    window.location.href = '{{ logoutHome }}';
                }
            }
        }, 1000);
    }
    setupTimeCount();
</script>

{% endblock %}
