{% extends "base.html" %}

{% block title %}Vote{% endblock %}

{% block content %}

{% for election in elections %}

<section class="section">
    <div class="container">
        <div class="has-text-centered">
            <h2 class="title is-4">{{ election.getName() }}</h2>

            {% for post in election.getPosts() %}
            <div class="box is-shadowless">
                <h2 class="subtitle is-5">{{ post.getName() }}</h2>
                <div class="columns is-centered">
                    {% for candidate in post.getCandidates() %}
                    <div class="column is-narrow has-text-centered">
                        <img class="candidate" src="{{ candidate.getPhoto() }}" />
                        {{ candidate.getName() }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    <div>
</section>

{% endfor %}

{% endblock %}
